.results-table {
  /* width: 100%; */
  /* border-collapse: separate; */
  /* border-spacing: 10px; Adjust this value to increase or decrease space between columns */
}

.results-table th,
.results-table td {
  /* text-align: left; */
  /* padding: 5px; */
}

/* Customizing the slider thumb */
/* input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--daisy-primary); 
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px #000; 
} */

/* input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--daisy-primary);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px #000; 
} */

/* Customizing the slider track */
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #ccc; /* Default track color */
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2); /* Inner shadow for the track */
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 8px;
  background: #ccc;
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
