/* Root variables */
:root {
  --color-primary: #0c4ca0;
  --color-secondary: #00aaff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.yellow-color {
  background-color: yellow;
  color: black;
}

.green-color {
  background-color: lightgreen;
  color: black;
}

.red-color {
  background-color: red;
  color: black;
}

.orange-color {
  background-color: orange;
  color: black;
}
