<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Apps for the Modern Structural Engineer</h1>
      <p class="hero__tagline">
        Take the hassle out of engineering codes with intuitive applications on
        the web.
      </p>
      <a href="#" class="btn btn--accent btn--stretch">Get started</a>
    </header>
    <picture>
      <source
        type="image/webp"
        srcset="images/bridge.webp 1x, images/bridge@2x 2x" />
      <img class="hero__image" src="images/bridge.webp" alt=""
    /></picture>
  </div>
</section>
