<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <img class="block-showcase__image" src="images/ipad.png" alt="" />
    <ul class="list">
      <!-- Media Object 1 -->
      <li>
        <div class="media">
          <div class="media__image">
            <img class="icon icon--white" src="images/growth.svg" alt="" />
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start and Managed Updates</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Laudantium pariatur ducimus iste velit? Exercitationem
              perspiciatis voluptatibus consequuntur est ab distinctio!
            </p>
          </div>
        </div>
      </li>
      <!-- Media Object 2 -->
      <li>
        <div class="media">
          <div class="media__image">
            <img class="icon icon--white" src="images/computer.svg" alt="" />
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start and Managed Updates</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Laudantium pariatur ducimus iste velit? Exercitationem
              perspiciatis voluptatibus consequuntur est ab distinctio!
            </p>
          </div>
        </div>
      </li>
      <!-- Media Object 3 -->
      <li>
        <div class="media">
          <div class="media__image">
            <img class="icon icon--white" src="images/growth.svg" alt="" />
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start and Managed Updates</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Laudantium pariatur ducimus iste velit? Exercitationem
              perspiciatis voluptatibus consequuntur est ab distinctio!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
